[Desktop Entry]
Name=South Panel Dark

X-KDE-PluginInfo-Author=vladpen
X-KDE-PluginInfo-Name=South Panel Dark
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[ContrastEffect]
enabled=true
contrast=0.3
intensity=0.7
saturation=1.9

[AdaptiveTransparency]
enabled=false
